#btn-tabs{
  display: none ;
}
body{
    width:100%;
    display: flex;
    flex-direction: column;
    
}

.navbar{
    background-color: #FFECC0 !important;
}
.container{
    width:100%;
    display: flex;
}
#logo{
    width:30%;
}
#logo img{
    width:50%;
}
#icons{
    width:70%;
    display: flex;
    justify-content: end;
    gap:2%;
}
#profile{
    width:80%;
    display:flex;
    justify-content: end;
   
}
#profile svg{
    width:24px !important;
    height:24px !important;
    
}
#cart{
    width:20%;
   display: flex;
   justify-content: end;
}
#tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#tabs form{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
  background-color: #FFECC0 !important;
}
table, th,td {
   border: 1px solid black;
   text-align: center;
}
#btncont button{
    /* From Uiverse.io by adamgiebl */ 

  background: #B95E82;
  color: #FFECC0;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #B95E82;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#btncont button .icon {
  background: #FFECC0;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #B95E82;
  right: 0.3em;
  transition: all 0.3s;
}

#btncont button:hover .icon {
  width: calc(100% - 0.6em);
}

#btncont button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #B95E82;
}

#btncont button:hover .icon svg {
  transform: translateX(0.1em);
}

#btncont button:active .icon {
  transform: scale(0.95);
}

#btn-tabs {
  width:100%;
  /* display:flex; */

}
.nav-pills{
  background-color:#FFECC0  !important;
  text-decoration: none !important;
}
.nav-link.active{
  background-color: #B95E82 !important;
  color:#FFECC0 !important;
  
}
.nav-link {
  color: #b95e82 !important;
  text-decoration: none !important;
  font-weight: 700 !important;
}